body {
  font-size: 24px;
  background-color: hsl(274, 92, 17);
  font-family: "Times New Roman", Times, serif;
  color: white;
}
.logo {
  font-size: 48px;
  font-family: "Times New Roman", Times, serif;
  color: #00cccc;
}

a {
  color: white;
}

a:hover {
  color: #11345c;
}
h1 {
  font-size: 24px;
}

h2 {
  font-size: 24px;
}
